.clearfloat:after{
    content: '';
    display: block;
    clear: both;
}

p{
    font-size: 18px;
    letter-spacing: 1px;
}

ul{
    margin: 0;
}

nav{
    background: #ccc;
    height: 50px;
    position: fixed;
    border-radius: 5px;

}

header{
    background: rgba(0,0,0,0.4);    
}

.banner{
    background:transparent;
    height: 700px;
}

nav ul{
    list-style: none;
    margin: 0;
    position: fixed;
    top: 0;
    right: 0;
    background: #ccc;
     border-radius: 5px;
}

nav ul li,nav .logo{
    display: inline-block;
    line-height: 50px;
    margin-right: 20px; 
    margin-left: 20px;
}

nav ul li a{
    text-decoration: none;
    line-height: 50px;
    display: inline-block;
    height: inherit;
    color: #fff;
}

nav .logo{
    float: left;
    font-size:20px;
    font-weight: 700;
    letter-spacing: 1px;
}

.banner .inner{
    margin: 0 auto;
    max-width:200px;
    text-align: center;
    position: relative;
    top: 160px;
    color: #fff; 
}

.banner .inner h1{
    margin:5px 0;
}

button{
    width: 100px;
    height: 40px;
    background: red;
    border: none;
    color: #eee;
    padding: 0;
}

.banner .inner .more{
    margin-top: 320px;
}

.logo a{
    color: #fff;
    text-decoration: none;
}

hr{
    margin: 0;
    padding: 0;
}

.green-section{
    text-align: center;
    background: #089db0;
    color: #fff;
    padding:100px;
}

.wrapper{
    margin:0 auto;
    max-width: 1080px;
}

.green-section h2{
    margin: 0;
    padding: 0;
}
.green-section .txt{
    font-size: 18px;
}

.line{
    width: 100%;
    height: 2px;
    margin: 20px auto;
}

.green-section .line{
    background: #078494;
    width: 60%;
} 

.green-section .icon-group{
    margin-top:80px;
}

.green-section .icon-group .icon{
    display: inline-block;
    width: 80px;
    height: 80px;
    border: 1px solid #0d6f7c;
    transform: rotate(45deg);
    margin: 20px;
}

.grey-section{
    color: #fff;
    background: #252f34;
}

.grey-section .img-section{
    width: 45%;
}

.img-section img{
    width: 100%;
    font-size: 0;
}

.grey-section .text-section{
    width: 55%;
}

.article-preview > div{
    float: left;
}

.article-preview:after{
    content: '';
    display: block;
    clear: both;
}

.text-section *{
    max-width: 90%;
    margin-top: 68px;
    margin-left:30px;
}

.text-section p{
    font-size: 18px;
    letter-spacing: 1px;
}

.article-preview:nth-child(odd){
    background-color:rgba(255,255,255,0.05);
}

.purple-section{
    background: #3f3965;
    color: #fff;
    padding: 80px;
}

.purple-section h2{
    margin:0;

    color: #fff;
}

.purple-section .heading-wrapper{
    text-align: center;
}

.purple-section .line{
    background: #373259;
    width: 60%;
}

.card{
    width: 50%;
    min-height: 150px;
    float: left;
    padding: 50px;
    box-sizing:border-box;
    /*border: 1px solid #fff;*/
}
.card-group{
    width: 70%;
    margin: 0 auto;
}

.card:first-child{
    background: rgba(0,0,0,0.04);
}

.card:nth-child(2){
     background: rgba(0,0,0,0.08);
}

.card:nth-child(3){
     background: rgba(0,0,0,0.12);
}

.card:nth-child(4){
     background: rgba(0,0,0,0.16);
}

.card:nth-child(5){
     background: rgba(0,0,0,0.20);
}

.card:nth-child(6){
     background: rgba(0,0,0,0.24);
}

footer{
    background: #333;
    color: #fff;
    text-align: center;
    padding: 50px;
}

ul.share-group{
    display: block;
    width: 1080px;
    height: 150px;
    margin: 0 auto;
}

.share-group li{
    display: inline-block;
    padding: 10px;
}

.copy{
    padding-bottom: 20px;
}

.main-wraper{
    background: #444 url(../img/banner.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
